<!DOCTYPE html>
<html>
  <head>
    <title>HAT::Application</title>
    <link rel="stylesheet" href="/assets/application.css"/>
    <script type="text/javascript" src="/assets/application.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
